<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 listLink">
        <h3 class="title">About</h3>
        <ul>
          <li *ngFor="let element of listFooter">
            {{element.title}}
          </li>
        </ul>
      </div>
      <div class="col-sm-3 listLink">
        <h3 class="title">Services</h3>
        <ul>
          <li *ngFor="let element of listTwo">
            {{element.title}}
          </li>
        </ul>
      </div>
      <div class="col-sm-6 forms">
        <h3>Title Here</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <form>
          <input /> <button>enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>
