<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <h1 class="title">
          First I wanted to be a veterinarian
        </h1>
        <p class="description my-5">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
        <div class="row">
          <div class="col-sm-3">
            <button class="btn btn-contact"> Contact Us </button>
          </div>
          <div class="col-sm-4">
            <button class="btn btn-service"> Our Service </button>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <img src="/assets/images/pug.png" class="w-100"/>
      </div>
    </div>
  </div>
</div>
