<div class="info-component">
  <div class="container">
    <div class="row {{ align_elements ? 'normal' : 'reverse' }}">
      <div class="col-sm-6">
        <h1 class="title">
          First I wanted to be a veterinarian
        </h1>
        <p class="description my-5">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
        <div class="col-sm-3">
          <button class="btn btn-action"> Our Service </button>
        </div>
      </div>
      <div class="col-sm-6">
       
        <div class="video-container">
          <div class="video">
              <img  src="/assets/images/fondoVideoOne.png" class="w-100">
          </div>
          <div class="chip"></div>
        </div>
      </div>
    </div>
  </div>
</div>
